@model List<CargoSupport.Models.DatabaseModels.DataModel>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <table id="example" class="table table-striped table-bordered" style="width:100%; white-space: nowrap;">
        <thead>
        </thead>
    </table>
    @section Scripts
{

        <script>
            const disabled_checkbox = function (data, type, full, meta) {
                var is_checked = data == true ? "checked" : "";
                return '<input type="checkbox" readonly class="checkbox" ' +
                    is_checked + ' />';
            }

            const disabled_textInput = function (data, type, full, meta) {
                return '<input type="text" readonly class="form-control" value="' +
                    data + '"  />';
            }
            const disabled_intInput = function (data, type, full, meta) {
                return '<input type="number" readonly class="form-control" value="' +
                    data + '"  />';
            }

            $(document).ready(function () {
                table = $('#example').DataTable({
                    pageLength: 100,
                    "ajax": {
                        "url": "http://localhost:5555/api/public/GetPublic",
                        "dataSrc": function (response) {
                            dataR = response;
                        },
                        "dataSrc": ""
                    },
                    columns: [
                        { data: 'routeName', title: 'Turnamn' },
                        { data: 'driver.fullName', title: 'Lev. Ansvarig' },
                        { data: 'carNumber', title: 'Bilnr', render: disabled_textInput },
                        { data: 'portNumber', title: 'Port', render: disabled_textInput },
                        { data: 'loadingIsDone', title: 'Lastning klar', render: disabled_checkbox },
                        { data: 'preRideAnnotation', title: 'Kommentar', render: disabled_textInput },
                        { data: 'numberOfCustomers', title: 'Kunder' },
                        { data: 'numberOfColdBoxes', title: 'Lådor' },
                        { data: 'restPlock', title: 'Restplock', render: disabled_checkbox },
                        { data: 'numberOfFrozenBoxes', title: 'Frys' },
                        { data: 'numberOfBreadBoxes', title: 'Bröd' },
                    ],
                    "order": [[1, "asc"]],

                });

            });
            function reloadAjax() {
                table.ajax.reload(null, false);
            }
        </script>
    }