@model List<CargoSupport.Models.DatabaseModels.DataModel>;
@{
    ViewData["Title"] = "Home Page";
}
<div id="main-containter" class="container-fluid">
    <div style="float: right;">
        <h3 style="display: inline-block;">Status</h3>
        <img id="errorSymbol" style="display:none" src="~/img/svg/errorSymbol.svg" />
        <img id="onlineSymbom" style="display:none" src="~/img/svg/onlineSymbol.svg" />
        <div id="connectStatus" style="display:none" class="lds-facebook"><div style="display: inline-block;"></div><div style="display: inline-block;"></div><div style="display: inline-block;"></div></div>
    </div>
    <div class="row">
        <h6>Datum</h6>
        <div>
            <div style="padding-left: 20px;" class="group">
                <input type="text" id="calendar-from-table">
                <span class="bar"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="dataTableTabs" class="tab">
        </div>
    </div>
    <div style="width: 100%;">
        <table id="dataTable" class="table table-striped table-bordered">
            <thead>
            </thead>
        </table>
    </div>
</div>
@section Scripts
{
    <script src="~/js/UpsertFunctions.js" asp-append-version="true"></script>
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
    <script>
        let currentTab;
        $(document).ready(function () {
            table = $('#dataTable').DataTable({
                "aoColumnDefs": [
                    { "sClass": "nowrap", "aTargets": [1] }
                ],
                pageLength: 250,
                "ajax": {
                    "url": '/api/v1/public/GetPublic',
                    "data": {
                        "dateString": function () { return formatDate(ajaxDate) }
                    },
                    "dataSrc": "",
                    "complete": function (responseReference, responseText) {
                        if (responseText === "error") {
                            toggleConnectStatus('error');
                        }
                        else {
                            tabs = [];
                            $('#dataTable tr').not(':first').each(function () {
                                getGroupFromFirstColumn(this);
                            });
                            generateTabs();
                            toggleConnectStatus('ok');
                            $('#main-containter').css("height", `${$('#main-containter').height()}px`)

                        }
                    },
                    "error": function (responseReference, responseText) {
                        toggleConnectStatus('error');
                    },
                },
                columns: [
                    { data: 'routeName', title: 'Turnamn' },
                    { data: 'driver.fullName', title: 'Lev. Ansvarig' },
                    { data: 'pinStartTimeString', title: 'Pintid', render: pinstart_render, "visible": false, },
                    { data: 'carNumber', title: 'Bilnr', render: renderEjSattIfZeroOrEmpty },
                    { data: 'portNumber', title: 'Port', render: renderEjSattIfZeroOrEmpty },
                    { data: 'loadingLevel', title: 'Lastningsstatus', render: convert_loadingLevel_toValue },
                    { data: 'preRideAnnotation', title: 'Kommentar' },
                    { data: 'numberOfCustomers', title: 'Kunder' },
                    { data: 'numberOfColdBoxes', title: 'Lådor', render: ok_IfNotNull },
                    { data: 'restPlock', title: 'Restplock', render: disabled_checkbox },
                    { data: 'numberOfFrozenBoxes', title: 'Frys', render: ok_IfNotNull },
                    { data: 'numberOfBreadBoxes', title: 'Bröd', render: hidden_IntIfNull },
                    { data: 'controlIsDone', title: 'Kontroll', render: disabled_checkbox },
                ],
                "order": [[2, "asc"]],
            });
            $('thead th').each(function () {
                $(this).addClass("stickyHeader");
            })
        });
        setInterval(function () {
            toggleConnectStatus('loading');
            console.log('auto-reloading')
            table.ajax.reload(null, false);
        }, 300000);
    </script>
}