@model List<CargoSupport.Models.DatabaseModels.DataModel>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div style="float: right;">
        <h3 style="display: inline-block;">Status</h3>
        <img id="errorSymbol" style="display:none" src="~/img/svg/errorSymbol.svg" />
        <img id="onlineSymbom" style="display:none" src="~/img/svg/onlineSymbol.svg" />
        <div id="connectStatus" style="display:none" class="lds-facebook"><div style="display: inline-block;"></div><div style="display: inline-block;"></div><div style="display: inline-block;"></div></div>
    </div>
    <h6>Datum</h6>
    <div>
        <div style="padding-left: 20px;" class="group">
            <input type="text" id="calendar-from-table">
            <span class="bar"></span>
        </div>
    </div>
    <table id="dataTable" class="table table-striped table-bordered" style="width:100%; white-space: nowrap;">
        <thead>
        </thead>
    </table>
</div>

@section Scripts
{
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
        let table;
        const mainApiEndpoint = '/api/v1/public/GetStorage';
        let prevValues = [];

        //function saveHoverVal(thisReference) {
        //    let tempOldVal = thisReference.options[thisReference.selectedIndex].value
        //    var dataRef = table.row($(thisReference).parents('tr')).data();

        //    var reference = prevValues.find(x => x._id === dataRef._id);

        //    if (reference == null) {
        //        prevValues.push(
        //            { id: dataRef._id, oldVal: tempOldVal }
        //        );
        //    }
        //    else {
        //        reference.oldVal = tempOldVal;
        //    }

        //}

        function proptForSignatureInt(thisReference) {
            var dataRef = table.row($(thisReference).parents('tr')).data();
            var personSignature = prompt("Signatur krävs, om du väljer 'Cancel' återställs värdet utan förändring", "");

            if (personSignature == null) {
                reloadAjax();
                //var reference = prevValues.find(x => x._id === dataRef._id);

                //if (reference == null) {
                //    thisReference.value = 99;
                //}
                //else {
                //    thisReference.value = reference.oldVal;
                //}
            }
            else if (personSignature.trim() === "") {
                alert("Tom signatur godkänns ej")
                //var reference = prevValues.find(x => x._id === dataRef._id);

                //if (reference == null) {
                //    thisReference.value = 99;
                //}
                //else {
                //    thisReference.value = reference.oldVal;
                //}
                reloadAjax();
            }
            else {
                updateRow(thisReference, personSignature);
            }
        }

        function proptForSignatureBool(thisReference) {
            var personSignature = prompt("Signatur krävs, om du väljer 'Cancel' återställs värdet utan förändring", "");

            if (personSignature == null) {
                reloadAjax();
                //thisReference.checked = !thisReference.checked;
            } else if (personSignature.trim() === "") {
                alert("Tom signatur godkänns ej")
                reloadAjax();
                //thisReference.checked = !thisReference.checked;
            }
            else {
                updateRow(thisReference, personSignature);
            }
        }

        async function updateRow(thisRef, signature) {
            var dataRef = table.row($(thisRef).parents('tr')).data();
            /*
              numberOfColdBoxes: numberOfColdBoxes_input
              restPicking: restPicking_input
              numberOfFrozenBoxes: numberOfFrozenBoxes_input
              numberOfBreadBoxes: numberOfBreadBoxes_input
              controlIsDone: controlIsDone_input
             */

            let upsertDictionary = {};
            upsertDictionary["hubId"] = await connection.invoke('GetConnectionId');
            upsertDictionary["_Id"] = dataRef._Id;
            upsertDictionary['signature'] = signature;

            switch (thisRef.id) {
                case 'numberOfColdBoxes_input':
                    upsertDictionary[thisRef.id] = parseInt(thisRef.value);
                    break;
                case 'restPicking_input':
                    upsertDictionary[thisRef.id] = thisRef.checked;
                    break;
                case 'numberOfFrozenBoxes_input':
                    upsertDictionary[thisRef.id] = parseInt(thisRef.value);
                    break;
                case 'numberOfBreadBoxes_input':
                    upsertDictionary[thisRef.id] = parseInt(thisRef.value);
                    break;
                case 'controlIsDone_input':
                    upsertDictionary[thisRef.id] = thisRef.checked;
                    break;
            }
            postUpdate(JSON.stringify(upsertDictionary));
        }

        function postUpdate(jsonData) {
            var dataType = 'application/json';
            console.log('Submitting form...');
            $.ajax({
                type: 'POST',
                url: '/api/v1/Upsert/UpsertStorage',
                //dataType: 'json',
                contentType: dataType,
                data: jsonData,
                error: function (jqXHR, exception) {
                    toggleConnectStatus('error');
                },
                success: function (result) {
                    toggleConnectStatus('ok');
                }
            });
        }

        const restPicking_input = function (data, type, full, meta) {
            var is_checked = data == true ? "checked" : "";
            return '<input id="restPicking_input" type="checkbox" onChange=proptForSignatureBool(this) class="checkbox" ' +
                is_checked + ' />';
        }

        const controlIsDone_input = function (data, type, full, meta) {
            var is_checked = data == true ? "checked" : "";
            return '<input id="controlIsDone_input" type="checkbox" onChange=proptForSignatureBool(this) class="checkbox" ' +
                is_checked + ' />';
        }

        const numberOfBreadBoxes_input = function (data, type, full, meta) {

            var selectBox = [];
            selectBox.push(
                '<div><select class="form-control" id="numberOfBreadBoxes_input" onChange=proptForSignatureInt(this) class="dropdown bootstrap-select">'
            );
            //selectBox.push(
            //    '<div><select class="form-control" id="numberOfBreadBoxes_input" onmouseover="saveHoverVal(this)" onChange=proptForSignatureInt(this) class="dropdown bootstrap-select">'
            //);

            for (i = 0; i < 100; i++) {
                if (i === data) {
                    selectBox.push('<option selected>' + i + '</option>')
                } else {
                    selectBox.push('<option>' + i + '</option>')
                }
            }
            selectBox.push(
                '</select>'
            );
            return selectBox.join("");
        }

        const numberOfFrozenBoxes_input = function (data, type, full, meta) {

            var selectBox = [];
            selectBox.push(
                '<div><select class="form-control" id="numberOfFrozenBoxes_input" onChange=proptForSignatureInt(this) class="dropdown bootstrap-select">'
            );
            //selectBox.push(
            //    '<div><select class="form-control" id="numberOfFrozenBoxes_input" onmouseover="saveHoverVal(this)" onChange=proptForSignatureInt(this) class="dropdown bootstrap-select">'
            //);

            for (i = 0; i < 100; i++) {
                if (i === data) {
                    selectBox.push('<option selected>' + i + '</option>')
                } else {
                    selectBox.push('<option>' + i + '</option>')
                }
            }
            selectBox.push(
                '</select>'
            );
            return selectBox.join("");
        }

        const numberOfColdBoxes_input = function (data, type, full, meta) {

            var selectBox = [];
            selectBox.push(
                '<div><select class="form-control" id="numberOfColdBoxes_input" onChange=proptForSignatureInt(this) class="dropdown bootstrap-select">'
            );
            //selectBox.push(
            //    '<div><select class="form-control" id="numberOfColdBoxes_input" onmouseover="saveHoverVal(this)" onChange=proptForSignatureInt(this) class="dropdown bootstrap-select">'
            //);

            for (i = 0; i < 100; i++) {
                if (i === data) {
                    selectBox.push('<option selected>' + i + '</option>')
                } else {
                    selectBox.push('<option>' + i + '</option>')
                }
            }
            selectBox.push(
                '</select>'
            );
            return selectBox.join("");
        }

        $(document).ready(function () {
            table = $('#dataTable').DataTable({
                pageLength: 250,
                "ajax": {
                    "url": mainApiEndpoint,
                    "data": {
                        "dateString": function () { return formatDate(ajaxDate) }
                    },
                    "dataSrc": "",
                    "complete": function (responseReference, responseText) {
                        if (responseText === "error") {
                            toggleConnectStatus('error');
                        }
                        else {
                            toggleConnectStatus('ok');
                        }
                    },
                    "error": function (responseReference, responseText) {
                        if (responseText === "error") {
                            toggleConnectStatus('error');
                        }
                        else {
                            toggleConnectStatus('ok');
                        }

                    },
                },
                columns: [
                    {
                        data: '_Id', title: 'ID', "visible": false,
                        "searchable": false
                    },
                    { data: 'routeName', title: 'Tur' },
                    { data: 'pinStartTimeString', title: 'Pintid', render: pinstart_render, "visible": false, },
                    { data: 'carNumber', title: 'Bilnr', },
                    { data: 'portNumber', title: 'Port', },
                    { data: 'loadingLevel', title: 'Lastningsstatus', render: convert_loadingLevel_toValue },
                    { data: 'numberOfCustomers', title: 'Kunder' },
                    { data: 'numberOfColdBoxes.value', title: 'Lådor', render: numberOfColdBoxes_input },
                    { data: 'restPicking.value', title: 'Restplock', render: restPicking_input },
                    { data: 'numberOfFrozenBoxes.value', title: 'Frys', render: numberOfFrozenBoxes_input },
                    { data: 'numberOfBreadBoxes.value', title: 'Bröd', render: numberOfBreadBoxes_input },
                    { data: 'controlIsDone.value', title: 'Kontroll', render: controlIsDone_input },
                ],
                "order": [[2, "asc"]],

            });
            $('thead th').each(function () {
                $(this).addClass("stickyHeader");
            })
        });
        function reloadAjax() {
            table.ajax.reload(null, false);
        }
        setInterval(function () {
            console.log('auto-reloading')
            table.ajax.reload(null, false);
        }, 300000);
    </script>
}