@model List<CargoSupport.Models.DatabaseModels.DataModel>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <iframe id="txtArea1" style="display:none"></iframe>
    <button class="btn btn-outline-success" id="btnExport" onclick="fnExcelReport('dataTable');"> Exportera som excel</button>
    <div style="float: right;">
        <h3 style="display: inline-block;">Status</h3>
        <img id="errorSymbol" style="display:none" src="~/img/svg/errorSymbol.svg" />
        <img id="onlineSymbom" style="display:none" src="~/img/svg/onlineSymbol.svg" />
        <div id="connectStatus" style="display:none" class="lds-facebook"><div style="display: inline-block;"></div><div style="display: inline-block;"></div><div style="display: inline-block;"></div></div>
    </div>
    <h6>Datum</h6>
    <div>
        <div style="padding-left: 20px;" class="group">
            <input type="text" id="calendar-from-table-tr">
            <span class="bar"></span>
        </div>
    </div>
    <table id="dataTable" class="table table-striped table-bordered" style="width:100%; white-space: nowrap;">
        <thead style="position: sticky; top: 0;">
        </thead>
    </table>

    <div class="row">
        <a class="btn btn-outline-success" asp-area="" asp-controller="Manage" asp-action="AddResourceRoute">Lägg till resurstur på dagens datum</a>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
        let table;

        function updateRow(thisRef) {
            var dataRef = table.row($(thisRef).parents('tr')).data();
            /*
             * Updatetypes
             * driver: driver_select
             * preRideAnnotation: preRideInput
             * postRideAnnotation: postRideInput
             * portNumber: port_selectBox
             * carNumber: carNumber_selectBox
             * loadingLevel: convert_loadingLevel_toSelectbox
             */

            var object = {
                _Id: dataRef._Id,
                routeName: dataRef.routeName,
                preRideAnnotation: null,
                postRideAnnotation: null,
                portNumber: -1,
                carNumber: null,
                loadingLevel: -1,
                driver: {}
            };

            switch (thisRef.id) {
                case 'driver_select':
                    object.driver.id = parseInt(thisRef.value);
                    break;
                case 'preRideInput':
                    object.preRideAnnotation = thisRef.value;
                    break;
                case 'postRideInput':
                    object.postRideAnnotation = thisRef.value;
                    break;
                case 'port_selectBox':
                    object.portNumber = parseInt(thisRef.value);
                    break;
                case 'carNumber_selectBox':
                    object.carNumber = thisRef.value;
                    break;
                case 'convert_loadingLevel_toSelectbox':
                    switch (thisRef.value) {
                        case 'Ej påbörjad': object.loadingLevel = 0;
                            break;
                        case 'Återanvända': object.loadingLevel = 1;
                            break;
                        case 'Påbörjad': object.loadingLevel = 2;
                            break;
                        case 'Klar': object.loadingLevel = 3;
                            break;
                    }
            }
            postUpdate(JSON.stringify(object));
        }

        function postUpdate(jsonData) {
            var dataType = 'application/json';
            console.log('Submitting form...');
            $.ajax({
                type: 'POST',
                url: '/api/v1/Upsert/UpsertTransport',
                contentType: dataType,
                data: jsonData,
                error: function (jqXHR, exception) {
                    toggleConnectStatus('error');
                },
                success: function (result) {
                    toggleConnectStatus('ok');
                }
            });
        }

        const simple_checkbox = function (data, type, full, meta) {
            var is_checked = data == true ? "checked" : "";
            return '<input type="checkbox" onclick=updateRow(this) class="checkbox" ' +
                is_checked + ' />';
        }

        const simple_intInput = function (data, type, full, meta) {
            return '<input type="number" onChange=updateRow(this) class="form-control" value="' +
                data + '"  />';
        }

        const port_selectBox = function (data, type, full, meta) {
            if (type === 'sort' || type === 'filter') {
                return data;
            }

            var selectBox = [];
            selectBox.push(
                '<select class="form-control" id="port_selectBox" onChange=updateRow(this)>'
            );

            if (data === 0) {
                selectBox.push('<option value="0" selected></option>')
            }

            for (i = 0; i < availablePorts.length; i++) {
                if (availablePorts[i] === data) {
                    selectBox.push('<option value="' + availablePorts[i] + '" selected>' + availablePorts[i] + '</option>')
                }
                else {
                    selectBox.push('<option value="' + availablePorts[i] + '">' + availablePorts[i] + '</option>')
                }
            }

            selectBox.push(
                '</select>'
            );
            return selectBox.join("");
        }

        const carNumber_selectBox = function (data, type, full, meta) {
            if (type === 'sort' || type === 'filter') {
                return data;
            }

            var selectBox = [];
            selectBox.push(
                '<select class="form-control" id="carNumber_selectBox" onChange=updateRow(this)>'
            );

            selectBox.push(
                '<option value=""></option>'
            );

            const avaialableCars = table.ajax.json().carOptions;
            for (i = 0; i < avaialableCars.length; i++) {
                if (avaialableCars[i].name === data) {
                    selectBox.push('<option value="' + avaialableCars[i].name + '" selected>' + avaialableCars[i].name + ' - ' + avaialableCars[i].maxWeight + 'kg</option>')
                }
                else {
                    selectBox.push('<option value="' + avaialableCars[i].name + '">' + avaialableCars[i].name + ' - ' + avaialableCars[i].maxWeight + 'kg</option>')
                }
            }

            selectBox.push(
                '</select>'
            );
            return selectBox.join("");
        }

        const driver_schedual = function (data, type, full, meta) {
            return '<p>' + data.begTimeString + '-' + data.endTimeString + '</p > ';
        }

        const current_Driver = function (driverObject, type, full, meta) {

            if (type === 'sort' || type === 'filter') {
                return driverObject.fullName;
            }

            var selectBox = [];
            selectBox.push(
                '<select class="form-control" id="driver_select" onChange=updateRow(this)>'
            );

            if (driverObject.id === -1) {
                selectBox.push(
                    '<option value="-1" selected></option>'
                );
            }
            else {
                selectBox.push(
                    '<option value="-1"></option>'
                );
            }

            const availableDrivers = table.ajax.json().selectValues;
            for (i = 0; i < availableDrivers.length; i++) {
                if (availableDrivers[i].id === driverObject.id) {
                    selectBox.push('<option value="' + availableDrivers[i].id + '" selected>' + availableDrivers[i].fullNameWithTime + '</option>')
                }
                else {
                    selectBox.push('<option value="' + availableDrivers[i].id + '">' + availableDrivers[i].fullNameWithTime + '</option>')
                }
            }

            selectBox.push(
                '</select>'
            );
            return selectBox.join("");
        }

        $(document).ready(function () {
            table = $('#dataTable').DataTable({
                pageLength: 250,
                "ajax": {
                    "url": '/api/v1/public/GetTransport',
                    "data": {
                        "dateString": function () { return formatDate(ajaxDate) }
                    },
                    "dataSrc": "data",
                    "complete": function (responseReference, responseText) {
                        if (responseText === "error") {
                            toggleConnectStatus('error');
                        }
                        else {
                            toggleConnectStatus('ok');
                        }
                    },
                    "error": function (responseReference, responseText) {
                        if (responseText === "error") {
                            toggleConnectStatus('error');
                        }
                        else {
                            toggleConnectStatus('ok');
                        }

                    },
                },
                columnDefs: [
                    { "width": "20%", "targets": 3 },
                    { "width": "10%", "targets": 4 },
                    { "width": "10%", "targets": 5 }
                ],
                columns: [
                    {
                        data: '_Id', title: 'ID', "visible": false,
                        "searchable": false
                    },
                    { data: 'routeName', title: 'Turnamn' },
                    { data: 'pinStartTimeString', title: 'Pintid', render: pinstart_render },
                    { data: 'driver', title: 'Lev. Ansvarig', render: current_Driver },
                    { data: 'carNumber', title: 'Bilnr', render: carNumber_selectBox },
                    { data: 'portNumber', title: 'Port', render: port_selectBox },
                    { data: 'loadingLevel', title: 'Lastningsstatus', render: convert_loadingLevel_toSelectbox },
                    { data: 'preRideAnnotation', title: 'Kommentar', render: preRideInput_fat },
                    { data: 'postRideAnnotation', title: 'Dold Kommentar', render: postRideInput_fat },
                    { data: 'numberOfCustomers', title: 'Kunder' },
                    { data: 'numberOfColdBoxes', title: 'Lådor', render: hidden_IntIfNull },
                    { data: 'restPlock', title: 'Restplock', render: disabled_checkbox },
                    { data: 'numberOfFrozenBoxes', title: 'Frys', render: hidden_IntIfNull },
                    { data: 'numberOfBreadBoxes', title: 'Bröd', render: hidden_IntIfNull },
                    { data: 'controlIsDone', title: 'Kontroll', render: disabled_checkbox },
                ],
                "order": [[2, "asc"]],

            })

            $('thead th').each(function () {
                $(this).addClass("stickyHeader");
            })

        });
    </script>
}