@model List<CargoSupport.Models.PinRouteModel>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="myGrid" style="height: 100vw; width: 100vw;" class="ag-theme-alpine"></div>
</div>

@section Scripts
{
    <script type="text/javascript" charset="utf-8">

        var allData = @Html.Raw(ViewBag.DataTable)
        // specify the columns
        let columnDefs = [
            { headerName: "Id", field: "Id", sortable: true, filter: true, checkboxSelection: true },
            { headerName: "RouteName", field: "RouteName", sortable: true, filter: true },
            { headerName: "Driver", field: "Driver", sortable: true, filter: true },
            { headerName: "EstimatedRouteStart", field: "EstimatedRouteStart", sortable: true, filter: true },
            { headerName: "EstimatedRouteEnd", field: "EstimatedRouteEnd", sortable: true, filter: true },
            { headerName: "LoadingIsDone", field: "LoadingIsDone", sortable: true, filter: true },
            { headerName: "NumberOfColdBoxes", field: "NumberOfColdBoxes", sortable: true, filter: true },
            { headerName: "NumberOfFrozenBoxes", field: "NumberOfFrozenBoxes", sortable: true, filter: true },
            { headerName: "PreRideAnnotation", field: "PreRideAnnotation", sortable: true, filter: true },
            { headerName: "PostRideAnnotation", field: "PostRideAnnotation", sortable: true, filter: true },
        ];

        // let the grid know which columns and what data to use
        let gridOptions = {
            columnDefs: columnDefs,
            rowData: allData
        };

        // lookup the container we want the Grid to use
        var eGridDiv = document.querySelector('#myGrid');

        // create the grid passing in the div to use together with the columns & data we want to use
        new agGrid.Grid(eGridDiv, gridOptions);
    </script>
}