@model CargoSupport.Models.PinIdModel;
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-action="UpdatePinDataByOrder">
    <table>
        <tr>
            <div>
                <div style="padding-left: 20px;" class="group">
                    <input type="text" asp-for="@Model.Date" id="calendar-from2">
                    <span class="bar"></span>
                </div>
            </div>
        </tr>
        <tr></tr>
        <tr>
            <td></td>
            <td><input class="btn btn-outline-success" type="submit" value="Uppdatera turer på denna dag" /></td>
        </tr>
    </table>
</form>

@section Scripts
{
    <script>
        generateFlatPickrElement("#calendar-from2", new Date().fp_incr(365), new Date().fp_incr(-365), new Date(), 
              function (selectedDates, dateStr, instance) {});
    </script>
}