@model List<CargoSupport.Models.DatabaseModels.DataModel>;
@{
    ViewData["Title"] = "Föraranalys";
}

<div class="container-flow">
    <div class="row">
        <div class="col-4">
            <h6>Visa data</h6>
            <div>
                <div style="padding-left: 20px;" class="group">
                    <label class="input-label">Från</label>
                    <input type="text" id="calendar-from-group-dashboard">
                    <span class="bar"></span>
                </div>
                <div style="padding-left: 30px;" class="group">
                    <label class="input-label">Till</label>
                    <input type="text" id="calendar-to-group-dashboard">
                    <span class="bar"></span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-info" onclick="resetTable()">Återgå till gruppvy</button>
        </div>
        <div class="col-4">
            <iframe id="txtArea1" style="display:none"></iframe>
            <button class="btn btn-outline-success" id="btnExport" onclick="fnExcelReport('dataTable');"> Exportera som excel</button>
        </div>
    </div>
    <div class="row ">
        <table id="dataTable" class="table table-striped table-bordered" style="width:100%; white-space: nowrap;">
            <thead style="position: sticky; top: 0;">
            </thead>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        const mainApiEndpoint = driverExtendedStats;
        fromDate = moment().subtract(7, 'd');
        toDate = moment();
        let section = null;
        let staffCat = null;

        function resetTable() {
            staffCat = null;
            section = null;
            table.ajax.reload(null, false);
        }

        function redrawTableById(sectionId, staffCatId) {
            if (sectionId != null) {
                section = sectionId;
            }

            if (staffCatId != null) {
                staffCat = staffCatId;
            }

            table.ajax.reload(null, false);
        }

        function colorcolumns() {
            //colorColumnDependingOnValue(1);
            //colorColumnDependingOnValue(2);
            //colorColumnDependingOnValue(3, true);
            colorColumnDependingOnValue(4, true);
            colorColumnDependingOnValue(5, true);
            colorColumnDependingOnValue(6, false);
            colorColumnDependingOnValue(7, false);
            colorColumnDependingOnValue(8, true);
        }

        function colorColumnDependingOnValue(columnIndex, highIsGood) {
            const allValues = table.columns(columnIndex + 2).data()[0];
            const maxVal = allValues.max();

            for (i = 0; i < allValues.length; i++) {
                const percentageVal = percentage(allValues[i], maxVal);
                let colorToSet
                if (highIsGood) {
                    colorToSet = percentageToColorHighIsGood(percentageVal);
                }
                else {
                    colorToSet = percentageToColorHighIsBad(percentageVal);
                }
                const tableRef = document.getElementById("dataTable");
                const row = tableRef.rows[i + 1];
                const cell = row.cells[columnIndex];
                cell.style.backgroundColor = colorToSet;
            }
        }

        const boss_extendedInfo = function (data, type, full, meta) {
            if (type === 'sort' || type === 'filter') {
                return data;
            }
            if (full.driverId !== 0) {
                return '<a style="color: blue;cursor: pointer;text-decoration: underline" href="DriverDiscreteData/' + full.driverId + '" class="dropdown-item">' + data + '</a>';
            }
            else {
                return '<a style="color: blue;cursor: pointer;text-decoration: underline" onClick="redrawTableById(' + full.sectionId + ',' + full.staffCatId + ')">' + data + '</a>';
            }
        }

        function percentage(partialValue, totalValue) {
            return (100 * partialValue) / totalValue;
        }

        Array.prototype.max = function () {
            return Math.max.apply(null, this);
        };

        Array.prototype.min = function () {
            return Math.min.apply(null, this);
        };

        $(document).ready(function () {
            table = $('#dataTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excelHtml5',
                ],
                pageLength: 250,
                "ajax": {
                    "url": mainApiEndpoint,
                    "data": {
                        "fromDate": function () { return fromDate.format(timeFormat) },
                        "toDate": function () { return toDate.format(timeFormat) },
                        "sectionId": function () { return section },
                        "staffCatId": function () { return staffCat }
                    },
                    "dataSrc": "",
                    "complete": function (responseReference, responseText) {
                        colorcolumns();
                    },
                    "error": function (responseReference, responseText) {
                    },
                },
                columnDefs: [
                    { "width": "20%", "targets": 3 }
                ],
                columns: [
                    { data: 'sectionId', title: 'SectionId', "visible": false, "searchable": false },
                    { data: 'staffCatId', title: 'StaffCatId', "visible": false, "searchable": false },
                    { data: 'driverId', title: 'DriverId', "visible": false, "searchable": false },
                    { data: 'labelTitle', title: 'Gruppnamn', render: boss_extendedInfo },
                    { data: 'numberOfValidDeliveries', title: 'Genomförda leveranser' },
                    { data: 'numberOfValidDeliveriesLeft', title: 'Ej klara Leveranser' },
                    { data: 'customersWithinTimeSlot', title: 'Inom tidsfönster +-5' },
                    { data: 'customersWithinPrognosis', title: 'Inom beräknad leveranstid +-15' },
                    { data: 'customersBeforeTimeSlot', title: 'Före tidsfönster -5' },
                    { data: 'customersBeforeEstimatedTime', title: 'Före beräknad tid -15' },
                    { data: 'percentageWithing5MinOfTimeSlot', title: 'Procent inom tidsfönster +-5' },
                    { data: 'percentageWithing15MinOfCustomerEstimatedTime', title: 'Procent inom beräknad leveranstid +-15' },
                ]
            });

            $('thead th').each(function () {
                $(this).addClass("stickyHeader");
            })

        });
    </script>
}