@model List<CargoSupport.Models.DatabaseModels.DataModel>;
@{
    ViewData["Title"] = "Föraranalys";
}

<a href="#" class="btn-primary btn" id="downloadPdf">Ladda ner rapport som pdf</a>
<div id="reportPage">
    <div class="row">
        <div class="col-6">
            <h1 id="mainName" class="display-4"></h1>
        </div>
        <div class="col-4">
        </div>
        <div class="col-2">
            <div>
                <h6 id="elementH">Visa data</h6>
                <div style="padding-left: 20px;" class="group">
                    <label id="elementH" class="input-label">Från</label>
                    <input type="text" id="calendar-from2">
                    <span class="bar"></span>
                </div>
                <div style="padding-left: 30px;" class="group">
                    <label id="elementH" class="input-label">Till</label>
                    <input type="text" id="calendar-to2">
                    <span class="bar"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <table id="dataTable" class="table table-striped table-bordered" style="width:100%; white-space: nowrap;">
            <thead style="position: sticky; top: 0;">
            </thead>
        </table>
    </div>

    <div class="row ">
        <div class="col-8">
            <canvas id="mainDataBar"></canvas>
        </div>
        <div class="col-4">
            <canvas id="percentageWithin5MinOfTimeSlot"></canvas>
            <canvas id="percentageWithin15MinOfCustomerEstimatedTime"></canvas>
        </div>
    </div>

    <div class="row ">
        <table id="fullRecords" class="table table-striped table-bordered" style="width:100%; white-space: nowrap;">
            <thead style="position: sticky; top: 0;">
            </thead>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        Id = @Html.Raw(ViewBag.DriverId);
        const mainApiEndpoint = todayGraphsForDriver;
        fromDate = moment().subtract(7, 'd');
        toDate = moment();
        let section = null;
        let staffCat = null;
        let secondTable;
        let fileName = "sample";

        generateFlatPickrElement("#calendar-from2", new Date(), new Date().fp_incr(-365), new Date().fp_incr(-7), 
        function (selectedDates, dateStr, instance) {
            fromDate = moment(dateStr, timeFormat);
            getDataBetweenDates(mainApiEndpoint);
            redrawTableById(null, null);
        });

        generateFlatPickrElement("#calendar-to2", new Date(), new Date().fp_incr(-365), new Date(), 
        function (selectedDates, dateStr, instance) {
            toDate = moment(dateStr, timeFormat);
            getDataBetweenDates(mainApiEndpoint);
            redrawTableById(null, null);
        });
        


        function resetTable() {
            staffCat = null;
            section = null;
            table.ajax.reload(null, false);
        }

        function redrawTableById(sectionId, staffCatId) {
            if (sectionId != null) {
                section = sectionId;
            }

            if (staffCatId != null) {
                staffCat = staffCatId;
            }

            table.ajax.reload(null, false);
            secondTable.ajax.reload(null, false);
        }

        const set_Mainname = function (data, type, full, meta) {
            document.getElementById('mainName').innerText = 'Rapport för ' + full.labelTitle;
            fileName = full.labelTitle;
            return data;
        }

        function percentage(partialValue, totalValue) {
            return (100 * partialValue) / totalValue;
        }

        Array.prototype.max = function () {
            return Math.max.apply(null, this);
        };

        Array.prototype.min = function () {
            return Math.min.apply(null, this);
        };

        const serviceComments_render = function (data, type, full, meta) {
            let validObjects = [];

            for (i = 0; i < data.length; i++) {
                if (data[i].categoryLevelComment !== "Tomt" && data[i].categoryLevelComment !== "") {
                    validObjects.push(`<p>${data[i].categoryLevelComment}</p>`);
                }
            }
            if (validObjects.length === 0) {
                return '<p></p>'
            }
            return validObjects.join("");
        }

        const customerComments_render = function (data, type, full, meta) {
            let validObjects = [];

            for (i = 0; i < data.length; i++) {
                if (data[i].comment !== "Tomt") {
                    validObjects.push(`<p>${data[i].comment}</p>`);
                }
            }
            if (validObjects.length === 0) {
                return '<p></p>'
            }
            return validObjects.join("");
        }

        function reloadGraphs(returnData) {
            generateMainDatasetFromApiResponse(returnData);
            generateMainDatasetFromApiResponsePieGraphOne(returnData);
            generateMainDatasetFromApiResponsePieGraphTwo(returnData);
        }

        function generateMainDatasetFromApiResponse(returnData) {

            deleteAllDatasetsOnChart(window.mainChart);

            /*
             * Generates new datasets based on returned data and pushes the changes
             */
            colorIndex = -1;
            returnData.forEach(dataRow => {
                colorIndex++;
                if (colorIndex > AllColors.rgba.length - 1) {
                    colorIndex = 0;
                }
                var newDataset = {
                    label: dataRow.labelTitle,
                    //backgroundColor: [
                    //    "rgba(255, 159, 64, 0.2)",
                    //    "rgba(255, 99, 132, 0.2)",
                    //    "rgba(54, 162, 235, 0.2)",
                    //    "rgba(153, 102, 255, 0.2)",
                    //    "rgba(255, 205, 86, 0.2)",
                    //    "rgba(255, 99, 132, 0.2)",
                    //],
                    backgroundColor: [
                        getrgbaColorWithOpacity(colorIndex, 0.2),
                        getrgbaColorWithOpacity(colorIndex, 0.2),
                        getrgbaColorWithOpacity(colorIndex, 0.2),
                        getrgbaColorWithOpacity(colorIndex, 0.2),
                        getrgbaColorWithOpacity(colorIndex, 0.2),
                        getrgbaColorWithOpacity(colorIndex, 0.2),
                    ],
                    data: [
                        dataRow.numberOfValidDeliveries,
                        dataRow.numberOfValidDeliveriesLeft,
                        dataRow.customersWithinTimeSlot,
                        dataRow.customersWithinPrognosis,
                        dataRow.customersBeforeTimeSlot,
                        dataRow.customersBeforeEstimatedTime,
                        dataRow.customersDividedByWorkHours,
                    ],
                    fill: false,
                    borderColor: [
                        getRgbColor(colorIndex),
                        getRgbColor(colorIndex),
                        getRgbColor(colorIndex),
                        getRgbColor(colorIndex),
                        getRgbColor(colorIndex),
                        getRgbColor(colorIndex)],
                    //borderColor: [
                    //    "rgb(255, 159, 64)",
                    //    "rgb(255, 99, 132)",
                    //    "rgb(54, 162, 235)",
                    //    "rgb(153, 102, 255)",
                    //    "rgb(255, 205, 86)",
                    //    "rgb(255, 99, 132)"],
                    borderWidth: 1,
                }

                window.mainChart.data.datasets.push(newDataset);
            });

            updateChartReference(window.mainChart);
        }

        function generateMainDatasetFromApiResponsePieGraphOne(returnData) {

            deleteAllDatasetsOnChart(percentageWithin5MinOfTimeSlotRef);

            /*
             * Generates new datasets based on returned data and pushes the changes
             */
            let percentageWithin5MinOfTimeSlot = [];
            let percentageWithin5MinOfTimeSlotRemainder = [];
            let allLabels = [];

            returnData.forEach(dataRow => {
                allLabels.push(dataRow.labelTitle);
                percentageWithin5MinOfTimeSlot.push(dataRow.percentageWithin5MinOfTimeSlot);
                percentageWithin5MinOfTimeSlotRemainder.push(100 - dataRow.percentageWithin5MinOfTimeSlot);
            });

            deleteAllDatasetsOnChart(percentageWithin5MinOfTimeSlotRef);

            /*
             * Generates new datasets based on returned data and pushes the changes
             */
            const accuracyDataSet = {
                label: "Inom tidsfönster +- 5 minuter",
                backgroundColor: [
                    "rgba(75, 192, 192, 0.2)",
                ],
                data:
                    percentageWithin5MinOfTimeSlot,
                fill: "start",
                borderColor: ["rgb(75, 192, 192)"],
                borderWidth: 1,
            }

            const inAccuracyDataSet = {
                label: "Ej inom tidsfönster +- 5 minuter",
                backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                ],
                data:
                    percentageWithin5MinOfTimeSlotRemainder,
                fill: "start",
                borderColor: ["rgb(255, 99, 132)"],
                borderWidth: 1,
            }
            percentageWithin5MinOfTimeSlotRef.data.labels = allLabels;
            percentageWithin5MinOfTimeSlotRef.data.datasets.push(accuracyDataSet);
            percentageWithin5MinOfTimeSlotRef.data.datasets.push(inAccuracyDataSet);

            updateChartReference(percentageWithin5MinOfTimeSlotRef);
        }

        function generateMainDatasetFromApiResponsePieGraphTwo(returnData) {

            deleteAllDatasetsOnChart(percentageWithin15MinOfCustomerEstimatedTimeRef);

            /*
             * Generates new datasets based on returned data and pushes the changes
             */
            let percentageWithin15MinOfCustomerEstimatedTime = [];
            let percentageWithin15MinOfCustomerEstimatedTimeRemainder = [];
            let allLabels = [];

            returnData.forEach(dataRow => {
                allLabels.push(dataRow.labelTitle);
                percentageWithin15MinOfCustomerEstimatedTime.push(dataRow.percentageWithin15MinOfCustomerEstimatedTime);
                percentageWithin15MinOfCustomerEstimatedTimeRemainder.push(100 - dataRow.percentageWithin15MinOfCustomerEstimatedTime);
            });

            deleteAllDatasetsOnChart(percentageWithin15MinOfCustomerEstimatedTimeRef);

            /*
             * Generates new datasets based on returned data and pushes the changes
             */
            const accuracyDataSet = {
                label: "Inom beräknad leveranstid +- 15 minuter",
                backgroundColor: [
                    "rgba(75, 192, 192, 0.2)",
                ],
                data:
                    percentageWithin15MinOfCustomerEstimatedTime,
                fill: "start",
                borderColor: ["rgb(75, 192, 192)"],
                borderWidth: 1,
            }

            const inAccuracyDataSet = {
                label: "Ej Inom beräknad leveranstid +- 15 minuter",
                backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                ],
                data:
                    percentageWithin15MinOfCustomerEstimatedTimeRemainder,
                fill: "start",
                borderColor: ["rgb(255, 99, 132)"],
                borderWidth: 1,
            }
            percentageWithin15MinOfCustomerEstimatedTimeRef.data.labels = allLabels;
            percentageWithin15MinOfCustomerEstimatedTimeRef.data.datasets.push(accuracyDataSet);
            percentageWithin15MinOfCustomerEstimatedTimeRef.data.datasets.push(inAccuracyDataSet);

            updateChartReference(percentageWithin15MinOfCustomerEstimatedTimeRef);
        }

        $(document).ready(function () {
        /*
         * Datatable from allbosses
         */
            table = $('#dataTable').DataTable({
                pageLength: 250,
                "ajax": {
                    "url": singleDriverExtendedStats,
                    "data": {
                        "fromDate": function () { return fromDate.format(timeFormat) },
                        "toDate": function () { return toDate.format(timeFormat) },
                        "driverId": Id
                    },
                    "dataSrc": "",
                    "complete": function (responseReference, responseText) {
                    },
                    "error": function (responseReference, responseText) {
                    },
                },
                columnDefs: [
                    { "width": "20%", "targets": 3 }
                ],
                columns: [
                    { data: 'labelTitle', title: 'Namn', "visible": false, "searchable": false, render: set_Mainname },
                    { data: 'numberOfValidDeliveries', title: 'Leveranser' },
                    { data: 'numberOfValidDeliveriesLeft', title: 'Ej klara lev.' },
                    { data: 'customersWithinTimeSlot', title: 'Inom tidsfönster +-5' },
                    { data: 'customersWithinPrognosis', title: 'Inom beräknad leveranstid +-15' },
                    { data: 'customersBeforeTimeSlot', title: 'Före tidsfönster -5' },
                    { data: 'customersBeforeEstimatedTime', title: 'Före beräknad tid -15' },
                    { data: 'percentageWithin5MinOfTimeSlot', title: 'Procent tidsfönster' },
                    { data: 'percentageWithin15MinOfCustomerEstimatedTime', title: 'Procent beräknad' },
                ],
                "searching": false,
                "paging": false,
                "bInfo": false
            });

        /*
         * Charts from todayGraphs
         */
            var ctx1 = document.getElementById('mainDataBar').getContext('2d');
            window.mainChart = new Chart(ctx1, {
                type: 'bar',
                data: {
                    datasets: [{
                        data: [0, 0, 0, 0, 0, 0],
                        label: ''
                    },
                    ],
                    labels: [
                        "Antal levererade leveranser",
                        "Olevererade leveranser",
                        "Leveranser inom tidsfönster +-5",
                        "Leveranser inom beräknad leveranstid +-15",
                        "Leveranser före tidsfönster -5",
                        "Leveranser före beräknad tid -15",
                        "Leveranser/timmar (Endast turtimmar inräknat)",
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Leveransstatistiken baseras på antal leveranser som är genomförda'
                    },
                    plugins: {
                        labels: {
                            render: 'value',
                            fontSize: 20,
                            position: 'outside',
                            textMargin: 10,
                        }
                    }
                }
            });

            let configBase1 = {
                type: 'line',
                data: {
                    labels: ["2020-08-27"],
                    datasets: [{
                        label: 'Chart 1',
                        data: [0],
                        fill: "start",
                        borderColor: ["rgb(75, 192, 192)"],
                        backgroundColor: [
                            "rgba(75, 192, 192, 0.2)",
                        ],
                    }, {
                        label: 'Chart 2',
                        data: [0],
                        fill: "start",
                        borderColor: ["rgb(255, 99, 132)"],
                        backgroundColor: [
                            "rgba(255, 99, 132, 0.2)",
                        ],
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Leverans beräknad leveranstid +- 15 minuter'
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Procent'
                            },
                        }]
                    }
                }
            };
            let ctx2 = document.getElementById('percentageWithin15MinOfCustomerEstimatedTime').getContext('2d');
            percentageWithin15MinOfCustomerEstimatedTimeRef = new Chart(ctx2, configBase1);

            let configBase2 = {
                type: 'line',
                data: {
                    labels: ["2020-08-27"],
                    datasets: [{
                        label: 'Chart 1',
                        data: [0],
                        fill: "start",
                        borderColor: ["rgb(75, 192, 192)"],
                        backgroundColor: [
                            "rgba(75, 192, 192, 0.2)",
                        ],
                    }, {
                        label: 'Chart 2',
                        data: [0],
                        fill: "start",
                        borderColor: ["rgb(255, 99, 132)"],
                        backgroundColor: [
                            "rgba(255, 99, 132, 0.2)",
                        ],
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Leveranser inom tidsfönster +- 5 minuter'
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Procent'
                            },
                        }]
                    }
                }
            };
            let ctx3 = document.getElementById('percentageWithin5MinOfTimeSlot').getContext('2d');
            percentageWithin5MinOfTimeSlotRef = new Chart(ctx3, configBase2);

            getDataBetweenDates(todayGraphsForDriver);

        /*
        * Simplified data by tour
        */

            secondTable = $('#fullRecords').DataTable({
                pageLength: 250,
                "ajax": {
                    "url": singleDriverSimplifiedRecords,
                    "data": {
                        "fromDate": function () { return fromDate.format(timeFormat) },
                        "toDate": function () { return toDate.format(timeFormat) },
                        "driverId": Id
                    },
                    "dataSrc": "",
                    "complete": function (responseReference, responseText) {
                    },
                    "error": function (responseReference, responseText) {
                    },
                },
                columns: [
                    { data: 'routeName', title: 'Ruttnamn' },
                    { data: 'dateOfRoute', title: 'Datum' },
                    { data: 'startTimeDiff', title: 'Starttid' },
                    { data: 'numberOfCustomers', title: 'Antal kunder' },
                    { data: 'weight', title: 'Vikt' },
                    { data: 'distansInSwedishMiles', title: 'Mil' },
                    { data: 'commentFromTransport', title: 'Kommentar transport' },
                    { data: 'customerComments', title: 'Snitt nöjdskala', render: customerSatisfaction_render },
                    { data: 'customerComments', title: 'Snitt leveransen kom i tid', render: customerTiming_render },
                    { data: 'customerComments', title: 'Snitt bemötande', render: customerDriver_render },
                    { data: 'customerComments', title: 'Snitt varor', render: customerProduce_render },
                    { data: 'customerComments', title: 'Kundkommentarer', render: customerComments_render },
                    { data: 'serviceComments', title: 'Servicekommentarer', render: serviceComments_render },
                    { data: 'resourceRoute', title: 'Resurstur' },
                ],
                "order": [[1, "desc"]],
                "searching": false,
                "paging": false,
                "bInfo": false
            });

            $('thead th').each(function () {
                $(this).addClass("stickyHeader");
            })
        });
    </script>
}