@model List<CargoSupport.Models.PinRouteModel>;
@{
    ViewData["Title"] = "Analyze";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="text-center">

    <div class="group">
        <label class="input-label">Från</label>
        <input type="text" id="calendar-from">
        <span class="bar"></span>
    </div>
    <div class="group">
        <label class="input-label">Till</label>
        <input type="text" id="calendar-to">
        <span class="bar"></span>
    </div>
    <select class="browser-default custom-select">
        <option selected>Antal kunder och kilo</option>
        <option value="1">Senaste veckan detaljerad</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <div>
        <p id="TotalAvrWeight"></p>
    </div>
    <div>
        <p id="TotalAvrDistance"></p>
    </div>

    <div style="height:200px">
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="MainCanvas"></canvas>
        </div>

        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="DrivingDistanceCanvas"></canvas>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/sv.js"></script>
    <script>
        flatpickr('#calendar-from', {
            "locale": "sv",
            "maxDate": new Date(),
            defaultDate: new Date().fp_incr(-6),
            onChange: function (selectedDates, dateStr, instance) {
                window.myLine.options.scales.xAxes[0].time.min = dateStr;
                window.myLine.update()
            }
        });
        flatpickr('#calendar-to', {
            "locale": "sv",
            "maxDate": new Date(),
            defaultDate: "today",
            onChange: function (selectedDates, dateStr, instance) {
                window.myLine.options.scales.xAxes[0].time.max = dateStr;
                window.myLine.update()
            }
        });
    </script>
    <script>
        function calculateAvr(arrayWithData, divisionWith) {
            return Math.round(getYSum(arrayWithData) / divisionWith);
        }
        function getNumberOfRoutesThisWeek(arrayWithData) {

        }

        function getYSum(arrayWithData) {
            var sum = 0;
            for (var i = 0; i < arrayWithData.length; i++) {
                sum += parseInt(arrayWithData[i].y);
            }
            return sum;
        }

        let xCustomerData = [
            { x: "2020-08-01", y: 5 },
            { x: "2020-08-03", y: 16 },
            { x: "2020-08-05", y: 30 },
            { x: "2020-08-08", y: 91 },
            { x: "2020-08-09", y: 19 },
            { x: "2020-08-10", y: 82 },
            { x: "2020-08-11", y: 63 },
            { x: "2020-08-12", y: 39 },
            { x: "2020-08-14", y: 03 },
            { x: "2020-08-15", y: 56 },
            { x: "2020-08-19", y: 17 },
            { x: "2020-08-21", y: 80 },
            { x: "2020-08-22", y: 75 },
            { x: "2020-08-23", y: 50 },
            { x: "2020-08-24", y: 99 },
            { x: "2020-08-28", y: 83 },
            { x: "2020-08-29", y: 48 },
        ]
        let xKiloData = [
            { x: "2020-08-2", y: 53 },
            { x: "2020-08-5", y: 53 },
            { x: "2020-08-6", y: 68 },
            { x: "2020-08-8", y: 90 },
            { x: "2020-08-12", y: 15 },
            { x: "2020-08-14", y: 7 },
            { x: "2020-08-15", y: 11 },
            { x: "2020-08-16", y: 59 },
            { x: "2020-08-18", y: 54 },
            { x: "2020-08-19", y: 56 },
            { x: "2020-08-20", y: 73 },
            { x: "2020-08-25", y: 31 },
            { x: "2020-08-26", y: 47 },
            { x: "2020-08-28", y: 44 },
        ]

        let xDrivingData = [
            { x: "2020-08-2", y: 5 },
            { x: "2020-08-5", y: 58 },
            { x: "2020-08-6", y: 62 },
            { x: "2020-08-8", y: 60 },
            { x: "2020-08-12", y: 15 },
            { x: "2020-08-14", y: 7 },
            { x: "2020-08-15", y: 11 },
            { x: "2020-08-16", y: 49 },
            { x: "2020-08-18", y: 52 },
            { x: "2020-08-19", y: 56 },
            { x: "2020-08-20", y: 76 },
            { x: "2020-08-25", y: 32 },
            { x: "2020-08-26", y: 48 },
            { x: "2020-08-28", y: 45 },
        ]

        document.getElementById('TotalAvrWeight').innerText = "Total data vikt/tur: " + calculateAvr(xKiloData, xKiloData.length) + " kg"

        var timeFormat = 'YYYY-MM-DD';
        let headerText = "Detaljerad rapport förare: Kalle Kula";
        var config = {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: calculateAvr(xCustomerData, 1),
                        /*label: "Antal kunder",*/
                        data: xCustomerData,
                        borderColor: "#3e95cd",
                        fill: false,
                        cubicInterpolationMode: 'monotone'
                    },
                    {
                        label: "Antal kilo",
                        data: xKiloData,
                        borderColor: "#8e5ea2",
                        fill: false,
                        cubicInterpolationMode: 'monotone'
                    },
                    {
                        type: 'line',
                        label: "Kördistans",
                        data: xDrivingData,
                        borderColor: "#3cba9f",
                        fill: false,
                        cubicInterpolationMode: 'monotone'
                    },
                ]
            },
            backgroundColor: 'rgba(0, 117, 204, 0.8)',
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: headerText
                },
                scales: {
                    bounds: 'data',
                    xAxes: [{
                        ticks: {
                            distribution: 'linear'
                        },
                        type: "time",
                        time: {
                            unit: 'day',
                            format: timeFormat,
                            min: new Date().fp_incr(-6),
                            max: new Date()
                        },

                        /* distribution: 'series', May be needed in big date differences*/
                        scaleLabel: {
                            barPercentage: 0.5,
                            display: true,
                            labelString: 'Datum'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Antal'
                        }
                    }]
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById("MainCanvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };
    </script>
}