@using Microsoft.AspNetCore.Identity
@using CargoSupport.Models.Auth

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <a class="nav-link text-dark" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        <button type="submit" class="nav-link text-dark" asp-controller="Manage" asp-action="Index" title="Manage">Logga ut</button>
    </form>
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>*@
}