@model CargoSupport.ViewModels.Manange.UserViewModel;
@{
    ViewData["Title"] = "Ta bort användare";
}

<h2>Vill du verkligen ta bort denna användare?</h2>
<form method="post" class="form-horizontal" role="form" asp-route-id="@Model.IdAsString" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="DeleteAccount">
    <table>
        <tr>
            <td>Användarnamn</td>
            <td><input disabled asp-for="UserName" type="text" /></td>
        </tr>
        <tr>
            <td>Behörighetsnivåer</td>
            <td><input disabled asp-for="RolesCombined" type="text" /></td>
        </tr>
        <tr>
            <td><input class="btn btn-outline-danger" type="submit" value="Bekräfta borttagning" /></td>
        </tr>
    </table>
</form>