@model CargoSupport.ViewModels.Manange.UserViewModel;
@{
    ViewData["Title"] = "Redigera användare";
}

<form method="post" enctype="multipart/form-data" asp-action="Edit">
    <table>
        <tr>
            <td><input hidden asp-for="@Model.IdAsString" type="text" /></td>
        </tr>
        <tr>
            <td>Namn med domän</td>
            <td><input asp-for="@Model.UserName" type="text" /></td>
        </tr>
        <tr>
            <td>Behörighetsnivå</td>
            @Html.ListBoxFor(m => m.RolesCombined, (ViewBag.Roles as SelectList), new { @class = "chosen-select", data_placeholder = "Agent(s)." })
        </tr>
        <tr>
            <td><input class="btn btn-outline-success" type="submit" value="Spara" /></td>
        </tr>
    </table>
</form>