@model CargoSupport.ViewModels.Manange.UpsertUserViewModel;
@{
    ViewData["Title"] = "Användare";
}

<td><a asp-action="Create" class="btn btn-outline-success">Lägg till ny användare</a></td>

<table class="table">
    <tr>
        <th>Namn med domän</th>
        <th>Behörighetsnivå</th>
        <th>Redigera användare</th>
        <th>Ta bort användare</th>
    </tr>
    @foreach (var user in Model.ExistingUsers)
    {
        <tr>
            <td><input disabled asp-for="@user.NameWithDomain" type="text" /></td>
            <td><select class="selectpicker show-tick" disabled asp-for="@user.RoleLevel" asp-items="Html.GetEnumSelectList<CargoSupport.Enums.RoleLevel>()"></select></td>
            <td><a asp-action="Edit" asp-route-id="@user._Id" class="btn btn-outline-warning">Redigera</a></td>
            <td><a asp-action="Delete" asp-route-id="@user._Id" class="btn btn-outline-danger">Ta bort</a></td>
        </tr>
    }
</table>

@section Scripts
{
}