@model List<CargoSupport.ViewModels.Manange.UserViewModel>;
@{
    ViewData["Title"] = "Användare";
}

<td><a asp-controller="Account" asp-action="Register" class="btn btn-outline-success">Lägg till ny användare</a></td>

<table class="table">
    <tr>
        <th>Namn med domän</th>
        <th>Behörighetsnivå</th>
        <th>Ta bort användare</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td><input disabled asp-for="@user.UserName" type="text" /></td>
            <td><input disabled asp-for="@user.RolesCombined" type="text" /></td>
            <td><a asp-action="Delete" asp-route-id="@user.IdAsString" class="btn btn-outline-danger">Ta bort</a></td>
        </tr>
    }
</table>

@section Scripts
{
}