@model CargoSupport.ViewModels.Manange.UpsertCarViewModel;
@{
    ViewData["Title"] = "Bilar";
}

<td><a asp-action="Create" class="btn btn-outline-success">Lägg till ny bil</a></td>

<table class="table">
    <tr>
        <th>Bilens namn eller nummer</th>
        <th>Maxvikt för bilen</th>
        <th>Påställd/Kan användas</th>
        <th>Redigera bil</th>
    </tr>
    @foreach (var car in Model.ExistingCars)
    {
        <tr>
            <td><input disabled asp-for="@car.Name" type="text" /></td>
            <td><input disabled asp-for="@car.MaxWeight" type="number" /></td>
            <td><input disabled asp-for="@car.CanBeSelected" /></td>
            <td><a asp-action="Edit" asp-route-id="@car._Id" class="btn btn-outline-warning">Redigera bil</a></td>
        </tr>
    }
</table>

@section Scripts
{
}